---
import HomeLayout from '../layouts/HomeLayout.astro'
const { pageTitle } = Astro.props
---

<HomeLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <ul>
        <li>
            <a href="/posts/post-1">New Kid on the block</a>
            <a href="/posts/post-2">Wumbo</a>
        </li>
    </ul>
</HomeLayout>