---
import HomeLayout from '../layouts/HomeLayout.astro'
const pageTitle = "My Blog"
---

<HomeLayout title="My Blog">
    <h1>{pageTitle}</h1>
    <ul>
        <li>
            <a href="/posts/post-1">New Kid on the block</a>
        </li>
    </ul>
</HomeLayout>