---
import HomeLayout from '../layouts/HomeLayout.astro'
const { pageTitle } = Astro.props
const allPosts = await Astro.glob('./posts/*.md');
---

<HomeLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <ul>
        {allPosts.map((post)=> <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
</HomeLayout>