---
import HomeLayout from './HomeLayout.astro'
const { frontmatter } = Astro.props
---
<HomeLayout>
    <h1>{frontmatter.title}</h1>
    <h2>Written by {frontmatter.author}</h2>
    <slot />
</HomeLayout>